<section id="menu">
    <div class="container text">
        <p class="title text-center">Menu</p>
        {{#if session.cart }}
        {{#unless (eq session.user.role 'chef')}}
        <div class="text-center">
            <p><strong>Total items: </strong>{{ session.cart.totalQty }}</p>
        </div>
        {{/unless}}
        {{/if}}
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" data-bs-toggle="tab" href="#menu1">Burgers</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#menu2">Pasta</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#menu3">Pizza</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#menu4">Chicken</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#menu5">Drinks</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane container active" id="menu1" role="tabpanel">
                        <h1 class="text-center text-uppercase">Burgers</h1>
                        <br>
                        <br>
                        <div class="row">
                            {{#each burgers}}
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="food-card food-card--vertical">
                                    <div class="food-card_img">
                                        <img src="{{image}}" alt="" {{#if (eq status 'Off'
                                            )}}style="filter: grayscale(100%);" {{/if}}>
                                    </div>
                                    <div class="food-card_content">
                                        <div class="food-card_title-section">
                                            <a href="#!" class="food-card_title">{{name}}</a>
                                            <a href="#!" class="food-card_author">{{category}}</a>
                                        </div>
                                        <div class="food-card_bottom-section">
                                            <div class="space-between">
                                                <div class="description">
                                                    <span>{{description}}</span>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="space-between">
                                                <div class="food-card_price">
                                                    <span>{{price}}$</span>
                                                </div>
                                                <div class="food-card_order-count">
                                                    {{#if (eq status 'Off')}}
                                                    <button class="btn btn-turnon" id="{{_id}}"
                                                        style="background-color: limegreen;">
                                                        <a href="/chef/turn-on-item/{{_id}}">On</a>
                                                    </button>
                                                    {{else}}
                                                    <button class="btn" id="{{_id}}" style="background-color: crimson;">
                                                        <a href="/chef/turn-off-item/{{_id}}">Off</a>
                                                    </button>
                                                    {{/if}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    <div class="tab-pane container fade" id="menu2" role="tabpanel">
                        <h1 class="text-center text-uppercase">Pasta</h1>
                        <br>
                        <br>
                        <div class="row">
                            {{#each pastas}}
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="food-card food-card--vertical">
                                    <div class="food-card_img">
                                        <img src="{{image}}" alt="" {{#if (eq status 'Off'
                                            )}}style="filter: grayscale(100%);" {{/if}}>
                                    </div>
                                    <div class="food-card_content">
                                        <div class="food-card_title-section">
                                            <a href="#!" class="food-card_title">{{name}}</a>
                                            <a href="#!" class="food-card_author">{{category}}</a>
                                        </div>
                                        <div class="food-card_bottom-section">
                                            <div class="space-between">
                                                <div class="description">
                                                    <span>{{description}}</span>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="space-between">
                                                <div class="food-card_price">
                                                    <span>{{price}}$</span>
                                                </div>
                                                <div class="food-card_order-count">
                                                    <div class="input-group mb-3">
                                                        {{#if (eq status 'Off')}}
                                                        <button class="btn" id="{{_id}}"
                                                            style="background-color: limegreen;">
                                                            <a href="/chef/turn-on-item/{{_id}}">On</a>
                                                        </button>
                                                        {{else}}
                                                        <button class="btn" id="{{_id}}"
                                                            style="background-color: crimson;">
                                                            <a href="/chef/turn-off-item/{{_id}}">Off</a>
                                                        </button>
                                                        {{/if}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    <div class="tab-pane container fade" id="menu3" role="tabpanel">
                        <h1 class="text-center text-uppercase">Pizza</h1>
                        <br>
                        <br>
                        <div class="row">
                            {{#each pizzas}}
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="food-card food-card--vertical">
                                    <div class="food-card_img">
                                        <img src="{{image}}" alt="" {{#if (eq status 'Off'
                                            )}}style="filter: grayscale(100%);" {{/if}}>
                                    </div>
                                    <div class="food-card_content">
                                        <div class="food-card_title-section">
                                            <a href="#!" class="food-card_title">{{name}}</a>
                                            <a href="#!" class="food-card_author">{{category}}</a>
                                        </div>
                                        <div class="food-card_bottom-section">
                                            <div class="space-between">
                                                <div class="description">
                                                    <span>{{description}}</span>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="space-between">
                                                <div class="food-card_price">
                                                    <span>{{price}}$</span>
                                                </div>
                                                <div class="food-card_order-count">
                                                    <div class="input-group mb-3">
                                                        {{#if (eq status 'Off')}}
                                                        <button class="btn" id="{{_id}}"
                                                            style="background-color: limegreen;">
                                                            <a href="/chef/turn-on-item/{{_id}}">On</a>
                                                        </button>
                                                        {{else}}
                                                        <button class="btn" id="{{_id}}"
                                                            style="background-color: crimson;">
                                                            <a href="/chef/turn-off-item/{{_id}}">Off</a>
                                                        </button>
                                                        {{/if}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    <div class="tab-pane container fade" id="menu4" role="tabpanel">
                        <h1 class="text-center text-uppercase">Chicken</h1>
                        <br>
                        <br>
                        <div class="row">
                            {{#each chickens}}
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="food-card food-card--vertical">
                                    <div class="food-card_img">
                                        <img src="{{image}}" alt="" {{#if (eq status 'Off'
                                            )}}style="filter: grayscale(100%);" {{/if}}>
                                    </div>
                                    <div class="food-card_content">
                                        <div class="food-card_title-section">
                                            <a href="#!" class="food-card_title">{{name}}</a>
                                            <a href="#!" class="food-card_author">{{category}}</a>
                                        </div>
                                        <div class="food-card_bottom-section">
                                            <div class="space-between">
                                                <div class="description">
                                                    <span>{{description}}</span>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="space-between">
                                                <div class="food-card_price">
                                                    <span>{{price}}$</span>
                                                </div>
                                                <div class="food-card_order-count">
                                                    <div class="input-group mb-3">
                                                        {{#if (eq status 'Off')}}
                                                        <button class="btn btn-outline-secondary" id="{{_id}}"
                                                            style="background-color: limegreen;">
                                                            <a href="/chef/turn-on-item/{{_id}}">On</a>
                                                        </button>
                                                        {{else}}
                                                        <button class="btn" id="{{_id}}"
                                                            style="background-color: crimson;">
                                                            <a href="/chef/turn-off-item/{{_id}}">Off</a>
                                                        </button>
                                                        {{/if}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    <div class="tab-pane container fade" id="menu5" role="tabpanel">
                        <h1 class="text-center text-uppercase">Drinks</h1>
                        <br>
                        <br>
                        <div class="row">
                            {{#each drinks}}
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="food-card food-card--vertical">
                                    <div class="food-card_img">
                                        <img src="{{image}}" alt="" {{#if (eq status 'Off'
                                            )}}style="filter: grayscale(100%);" {{/if}}>
                                    </div>
                                    <div class="food-card_content">
                                        <div class="food-card_title-section">
                                            <a href="#!" class="food-card_title">{{name}}</a>
                                            <a href="#!" class="food-card_author">{{category}}</a>
                                        </div>
                                        <div class="food-card_bottom-section">
                                            <div class="space-between">
                                                <div class="description">
                                                    <span>{{description}}</span>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="space-between">
                                                <div class="food-card_price">
                                                    <span>{{price}}$</span>
                                                </div>
                                                <div class="food-card_order-count">
                                                    <div class="input-group mb-3">
                                                        {{#if (eq status 'Off')}}
                                                        <button class="btn btn-turnon" id="{{_id}}"
                                                            style="background-color: limegreen;">
                                                            <a href="/chef/turn-off-item/{{_id}}">On</a>
                                                        </button>
                                                        {{else}}
                                                        <button class="btn btn-turnoff" id="{{_id}}"
                                                            style="background-color: crimson;">
                                                            <a href="/chef/turn-off-item/{{_id}}">Off</a>
                                                        </button>
                                                        {{/if}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
